rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // ===============================================================
    // Helper Functions
    // ===============================================================
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }
    
    function uidUnchanged() {
      return !('uid' in request.resource.data) || request.resource.data.uid == request.auth.uid;
    }
    
    function uidNotModified() {
      return !('uid' in request.resource.data) || request.resource.data.uid == resource.data.uid;
    }

    // ===============================================================
    // Rules
    // ===============================================================
    
    match /users/{userId} {
      // Users can only read and write their own profile
      allow read: if isOwner(userId);
      allow create: if isOwner(userId) && uidUnchanged();
      allow update: if isOwner(userId) && uidNotModified();
      allow delete: if isOwner(userId);
      
      match /workouts/{workoutId} {
        // Users can only read and write their own workouts
        allow read: if isOwner(userId);
        allow create: if isOwner(userId);
        allow update: if isOwner(userId);
        allow delete: if isOwner(userId);
      }
    }
  }
}
